{{!-- inicia el chat --}}

<h1>!Hola! Como podemos ayudarte</h1>

<div class="box-message">
    <input id="chatBox" name = "chatBox" type="text">
    <div class="boxMessages">
        <p id="messagesLogs"></p>
        
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/message.js"></script>
